<html>
<haad><title>Search Page</title>
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet"/>
	<link href="https://rawgit.com/wenzhixin/bootstrap-table/master/src/bootstrap-table.css" rel="stylesheet"/>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script src="https://rawgit.com/wenzhixin/bootstrap-table/master/src/bootstrap-table.js"></script>
		<link rel="stylesheet" href="../static/display.css"></link>
</haad>
<body>
<form action="/video" method="POST">
<div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">
        <br/>
		<form action="/video" method="POST">
        <table data-toggle="table" data-striped="true">
            <tbody>
            <tr>
               
			<td>{{ data }}</td><button="submit" name="watch">Watch</button="submit">
			
			</tr>
            </tbody>
        </table>
		</form>
    </div>    
    <div class="col-xs-1"></div>
	
</body>

</html>