<html>
<haad><title>Search Page</title>
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet"/>
		<link href="https://rawgit.com/wenzhixin/bootstrap-table/master/src/bootstrap-table.css" rel="stylesheet"/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<script src="https://rawgit.com/wenzhixin/bootstrap-table/master/src/bootstrap-table.js"></script>
		<link rel="stylesheet" href="../static/search.css"></link>
</haad>
<body>
<center>
<form action="/display" method="POST">
<input type="text" name="search" placeholder="Search..">&nbsp;&nbsp;
<button id="btn-search" type="Submit" class="btn btn-info"><i class="icon-hand-right"></i> &nbsp Search</button><br></br><br></br>
</form>
<form action="/logout" method="GET">
<button id="btn-logout" type="Submit" class="btn btn-info"><i class="icon-hand-right"></i> &nbsp Logout</button>
</form>
<form action="/video" method="POST">
<table cellspacing="5" cellpadding="10">
    {% for i in v_data %}
        <tr>
		<td><input type="hidden" name="video_name" value="{{i.1}}"/>{{ i.1 }}</td>
		<td>{{ i.2 }}</td>
		<td><button id="btn-watch" type="Submit" class="btn btn-info"><i class="icon-hand-right"></i> &nbsp Watch</button></td>
		</tr>
    {% endfor %}
</table>
</center>
</body>
</html>